/* LandingPage.css */

.background-image {
	/* Propiedades CSS para la imagen de fondo */
	background-image: url('../../../img/videojuegos2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; /* Ajusta la altura según tus necesidades */
}

/* Resto de estilos para otros elementos en la página */
