.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 16px;
	padding: 16px;
}

.cardLink {
	text-decoration: none;
	color: #333;
}

.cardLink:hover {
	filter: brightness(1.2);
}
